import type React from 'react'

interface {{name}}PageProps {
  // Add your page props here
}

const {{name}}Page: React.FC<{{name}}PageProps> = () => {
  return (
    <div>
      <h1>{{name}} Page</h1>
      {/* Add your page content here */}
    </div>
  )
}

export default {{name}}Page
